altgraph==0.17.2
aspose-words==22.6.0
auto-py-to-exe==2.20.1
backports.cached-property==1.0.1
bokeh==2.4.3
bottle==0.12.21
bottle-websocket==0.2.9
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
cryptography==37.0.2
cycler==0.11.0
DateTime==4.4
distro==1.7.0
Eel==0.14.0
et-xmlfile==1.1.0
Flask==2.2.2
fonttools==4.33.3
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
grpcio==1.45.0
grpcio-tools==1.45.0
gunicorn==20.1.0
imdb-sqlite==0.1.3
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.2
numpy==1.22.3
openpyxl==3.0.10
overrides==6.1.0
packaging==21.3
pandas==1.4.2
patsy==0.5.2
pdfminer==20191125
pdfminer.six==20220524
pdfplumber==0.7.1
pefile==2022.5.30
Pillow==9.1.1
protobuf==3.19.4
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.14.1
pygc==1.1.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pymongo==4.1.1
pyparsing==3.0.9
PyPDF2==2.1.0
PyPDF4==1.27.0
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
PyYAML==6.0
robotframework==5.0
robotframework-assertion-engine==0.5.1
robotframework-browser==12.3.0
robotframework-pythonlibcore==3.0.0
scikit-learn==1.1.3
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
statsmodels==0.13.2
tabula-py==2.4.0
threadpoolctl==3.1.0
tk==0.1.0
tornado==6.2
tqdm==4.64.0
typing-utils==0.1.0
typing_extensions==4.2.0
Wand==0.6.7
Werkzeug==2.2.2
whichcraft==0.6.1
wrapt==1.14.0
zope.event==4.5.0
zope.interface==5.4.0
